body{
    font-family: "Montserrat";
}


#title{
    background-color: #ff4c68;
    color: white;
}

h1{
    font-size: 3.5rem;
    font-family: "Montserrat";
    line-height: 1.5;
}

.container-fluid{
    padding: 3% 15% 7%;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar{
    padding: 0 0 4.5rem 0;
}

.nav-item{
    padding : 0 18px;
}

.download-button{
    margin: 5% 3% 5% 0;
}

.title-image{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right : 10%;
}

#features{
    background-color: white;
    position:relative;
    z-index: 1;
    padding: 7%;
}

.icons{
    text-align: center;
    padding : 50px;
}

/* .middle-container{
    margin: 100px auto 50px auto;
} */

.icons-color{
    color: #ef8172;
}

.icons-color:hover{
    color: #ff4c68;
}

h3{
    font-family: "Montserrat";
    margin-top: 1.5rem;
    font-size: large;
}

h2{
    font-size: 3rem;
    line-height: 1.5;
    margin-bottom: 5%;
}


.para-middle{
    color: #8f8f8f;
    font-size: 13px;
}



/* Testimonial section */


#testimonials{
    background-color: #ef8172;
    text-align: center;
    color: white;

}

.carousel-inner{
    padding: 7% 15%;
}

.testimonial-image{
    border-radius : 100%;
    width: 10%;
    margin-right: 30px;

}

/* Press Section */

#press{
    text-align: center;
    background-color: #ef8172;
}

.press-image{
    /* margin-bottom: 2%; */

    width: 10%;
    margin : 0px 20px 2% 20px;
}


/* Pricing section */


#pricing{

    padding: 100px;
    text-align: center;
}

.pricing-colum{
    padding: 3% 2%;
}

@media (max-width : 1028px){
    #title{
        text-align: center;

    }

    .title-image{
        position: relative;
        transform: rotate(0deg);
    }
}